/* Overall */

body {
  background: #F5EFDD;
  color: #222;
  font-family: "Open Sans";
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Semibold-webfont.woff") format('woff');
  font-weight: 600;
  font-style: normal;
}

@media (min-width: 1100px) {
  .container {
    max-width: 1030px;
  }
}

/* Header */

.header {
  height: 100px;
}
.header .nav {
  margin: 31px 0 0 24px;
  font-size: 13px;
  font-weight: 600;
}
.header .nav::before {
  float: left;
  margin: 9px 8px 0 0;
  content: '|';
}
.header .nav > li {
  float: left;
}
.header .nav > li > a {
  background: none;
}
.header .nav > li > a:link {
  color: #222;
}
.header .mascots {
  margin-right: -15px;
}

/* Footer */

.footer {
  margin-top: 80px;
  padding: 40px 0;
  background: #E5D9C8;
  font-size: 13px;
}
.footer .text {
  margin-top: 13px;
}
.footer .logos img {
  margin-left: 18px;
}

/* Super awesome logo animation */

.cssanimations .header .logo {
  position: relative;
}
.cssanimations .header .logo-img {
  overflow: hidden;
  margin-left: 50px;
}
.cssanimations .header .logo-img img {
  position: relative;
  left: -50px;
}
.cssanimations .header .logo-anim {
  position: absolute;
  left: 0;
  top: 25px;
}
.cssanimations .header .logo-anim > * {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
}
.cssanimations .header .logo .logo-anim > .p1 {
  background-image: url("../images/logo-part1.png");
  animation: hide 0.0s, fade 1s linear 0.0s;
  -webkit-animation: hide 0.0s, fade 1s linear 0.0s;
}
.cssanimations .header .logo .logo-anim > .p2 {
  background-image: url("../images/logo-part2.png");
  animation: hide 0.5s, fade 1s linear 0.5s;
  -webkit-animation: hide 0.5s, fade 1s linear 0.5s;
}
.cssanimations .header .logo .logo-anim > .p3 {
  background-image: url("../images/logo-part3.png");
  animation: hide 1.0s, fade 1s linear 1.0s;
  -webkit-animation: hide 1.0s, fade 1s linear 1.0s;
}
.cssanimations .header .logo .logo-anim > .p4 {
  background-image: url("../images/logo-part4.png");
  animation: hide 1.5s, fade 1s linear 1.5s;
  -webkit-animation: hide 1.5s, fade 1s linear 1.5s;
}
.cssanimations .header .logo .logo-anim > .p5 {
  background-image: url("../images/logo-part5.png");
  animation: hide 2.0s, fade 1s linear 2.0s;
  -webkit-animation: hide 2.0s, fade 1s linear 2.0s;
}
@keyframes hide {
  from { opacity: 0; } to { opacity: 0; }
}
@keyframes fade {
  from { opacity: 0; } to { opacity: 1; }
}
@-webkit-keyframes hide {
  from { opacity: 0; } to { opacity: 0; }
}
@-webkit-keyframes fade {
  from { opacity: 0; } to { opacity: 1; }
}

/* Events */

.event {
  float: left;
  position: relative;
  padding: 0;
  color: #fff;
}

.event img {
  margin: 0 auto;
  width: 200px;
  height: 200px;
}
.event.featured-1 img {
  width: 397px;
}
.event.featured-max img {
  width: 100%;
}

.event-row .event {
  margin-left: 1px;
}
.event-row .event:first-child {
  margin-left: 0;
}

.event::before {
  position: relative;
  z-index: 2;
  display: block;
  margin: 0 auto -200px;
  width: 100%;
  height: 200px;
  background: linear-gradient(180deg, rgba(0,0,0,0) 30%, rgba(0,0,0,0.5));
  content: ' ';
}

.jumbotron.event .container {
  position: relative;
  margin-top: -200px;
  height: 200px;
  color: #fff;
  text-align: left;
}
.jumbotron.event.featured .container {
  margin-top: -350px;
  height: 350px;
}

.event h3 {
  position: absolute;
  left: 20px;
  bottom: 24px;
  font-size: 14px;
  font-weight: 600;
  z-index: 3;
}
.event .subtitle {
  position: absolute;
  left: 20px;
  bottom: 15px;
  font-size: 11px;
  z-index: 3;
}

/* Sponsors */

.sponsors {
  font-size: 13px;
  text-align: center;
}
.sponsors img {
  margin-top: 10px;
}

/* Filler */

.filler {
  margin: 50px 0;
  background: linear-gradient(180deg, #111111, #212121);
}

.filler .text {
  margin-top: -275px;
  margin-bottom: 123px;
  height: 152px;
  color: #fff;
  font-family: Lato;
  font-size: 36px;
  font-weight: 100;
  text-align: center;
}

.filler .text span {
  display: block;
}