/* Overall */

body {
  background: #f5efdd;
  color: #222;
  font-family: "Open Sans";
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Semibold-webfont.woff") format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-hairline-webfont.woff") format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-light-webfont.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-regular-webfont.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}

@media (min-width: 1100px) {
  .container {
    max-width: 1030px;
  }
}

/* Header */

.header {
  height: 101px;
}
.header .nav {
  margin: 32px 0 32px 24px;
  font-size: 13px;
}
.header .nav > li {
  float: left;
}
.header .nav > li > a {
  color: #b2a591;
  background: none;
  transition: .3s color;
}
.header .nav > li > a:link,
.header .nav > li > a:visited {
}
.header .nav > li > a:hover {
  color: #9d8c73;
}
.header .mascots {
  margin-right: -15px;
}

/* Footer */

.footer {
  margin-top: 80px;
  padding: 40px 0;
  background: #e5d9c8;
}
.footer .text {
  margin-top: 6px;
  font-size: 12px;
  color: #4d4131;
}
.footer .logos img {
  margin-left: 18px;
}

/* Super awesome logo animation */

/*
.cssanimations .header .logo {
  position: relative;
}
.cssanimations .header .logo-img {
  overflow: hidden;
  margin-left: 50px;
  margin-right: -50px;
}
.cssanimations .header .logo-img img {
  position: relative;
  left: -50px;
}
.cssanimations .header .logo-anim {
  position: absolute;
  left: 0;
  top: 25px;
}
.cssanimations .header .logo-anim > * {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
}
.cssanimations .header .logo .logo-anim > .p1 {
  background-image: url("../images/logo-part1.png");
  animation: hide 0.0s, fade 1s linear 0.0s;
  -webkit-animation: hide 0.0s, fade 1s linear 0.0s;
}
.cssanimations .header .logo .logo-anim > .p2 {
  background-image: url("../images/logo-part2.png");
  animation: hide 0.5s, fade 1s linear 0.5s;
  -webkit-animation: hide 0.5s, fade 1s linear 0.5s;
}
.cssanimations .header .logo .logo-anim > .p3 {
  background-image: url("../images/logo-part3.png");
  animation: hide 1.0s, fade 1s linear 1.0s;
  -webkit-animation: hide 1.0s, fade 1s linear 1.0s;
}
.cssanimations .header .logo .logo-anim > .p4 {
  background-image: url("../images/logo-part4.png");
  animation: hide 1.5s, fade 1s linear 1.5s;
  -webkit-animation: hide 1.5s, fade 1s linear 1.5s;
}
.cssanimations .header .logo .logo-anim > .p5 {
  background-image: url("../images/logo-part5.png");
  animation: hide 2.0s, fade 1s linear 2.0s;
  -webkit-animation: hide 2.0s, fade 1s linear 2.0s;
}
@keyframes hide {
  from { opacity: 0; } to { opacity: 0; }
}
@keyframes fade {
  from { opacity: 0; } to { opacity: 1; }
}
@-webkit-keyframes hide {
  from { opacity: 0; } to { opacity: 0; }
}
@-webkit-keyframes fade {
  from { opacity: 0; } to { opacity: 1; }
}
*/

/* General headings */

h1, h2, h3, h4, h5 {
  font-family: Lato, sans-serif;
}

/* General text */

p {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 28px;
}

/* Body headers */

.body-header {
  position: relative;
  margin: 0 0 40px;
  padding: 0;
  width: 100%;
  height: 250px;
  background-size: cover;
  background-attachment: fixed;
  font-family: Lato, sans-serif;
  color: #fff;
}
.body-header::after {
  display: block;
  height: 250px;
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5));
  content: ' ';
  z-index: 2;
}
.body-header h1 {
  position: absolute;
  top: 60px;
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
}

/* Homepage events */

.featured-events .event {
  float: left;
  position: relative;
  padding: 0;
  color: #fff;
}

.featured-events .event img {
  margin: 0 auto;
  width: 200px;
  height: 200px;
}
.featured-events .event.featured-1 img {
  width: 397px;
}
.featured-events .event.featured-max img {
  width: 100%;
}

.featured-events .event-row .event {
  margin-left: 1px;
}
.featured-events .event-row .event:first-child {
  margin-left: 0;
}

/* gradient down to dark to make event text more readable */
.featured-events .event::before {
  position: relative;
  z-index: 2;
  display: block;
  margin: 0 auto -200px;
  width: 100%;
  height: 200px;
  background: linear-gradient(180deg, rgba(0,0,0,0) 30%, rgba(0,0,0,0.5));
  content: ' ';
}

.featured-events .event::after {
  position: relative;
  z-index: 2;
  display: block;
  margin: 0 auto -200px;
  top: -200px;
  width: 100%;
  height: 200px;
  background: #fff;
  content: ' ';
  opacity: 0;
}
.featured-events .event:hover::after {
  opacity: .3;
  transition: .3s all;
}

.featured-events .jumbotron.event .container {
  position: relative;
  margin-top: -200px;
  height: 200px;
  color: #fff;
  text-align: left;
}
.featured-events .jumbotron.event.featured .container {
  margin-top: -350px;
  height: 350px;
}

.featured-events .event .details {
  position: absolute;
  left: 20px;
  bottom: 15px;
  z-index: 3;
}
.featured-events .event .details h3 {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
  z-index: 3;
}
.featured-events .event .details .subtitle {
  font-size: 11px;
}

/* Homepage sponsors */

.sponsors {
  font-size: 13px;
  text-align: center;
}
.sponsors img {
  margin-top: 10px;
}

/* Homepage filler */

.filler {
  margin: 50px 0;
  background: linear-gradient(180deg, #111111, #212121);
}

.filler .text {
  margin-top: -275px;
  margin-bottom: 123px;
  height: 152px;
  color: #fff;
  font-family: Lato, sans-serif;
  font-size: 36px;
  font-weight: 100;
  text-align: center;
}

.filler .text span {
  display: block;
}
