---
layout: containerless
title: Home
---

<div class="featured-events">
  <div class="container">
  {% for row in site.data.events-layout %}
    <div class="event-row">
    {% for event in row.row %}
      <div class="event
        {% if event.width == '2x' %}featured-1{% endif %}
        {% if event.width == 'fill' %}featured-max{% endif %}
        ">
        <img src="images/events/{{ event.id }}.png">
        <div class="details">
          {% assign found_event = false %}
          {% for details in site.events %}{% if details.relative_path contains event.id %}
            {% assign found_event = true %}
            <h3>{{ details.title }}</h3>
            <div class="subtitle">{{ details.subtitle }}</div>
            {% if details.location %}
            <div class="subtitle">{{ details.location }}</div>
            {% endif %}
          {% endif %}{% endfor %}
          {% if found_event == false %}
            <h3>Event details missing</h3>
            <div class="subtitle">Try creating a file <code>_events/{{ event.id }}.md</code></div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
    </div>
  {% endfor %}
  </div>
  <div class="clear"></div>
</div>

<div class="filler">
  <div class="container">
    <img src="images/filler-background.jpg">
    <div class="text">
      <p>Welcome to AnimeUNSW!</p>
      <p>We're a society for fans of anime and all things related,<span>like manga, drawing, games, cosplay and more.</span></p>
    </div>
  </div>
</div>

<div class="sponsors">
  <div class="container">
    Proudly sponsored by:
    <img src="images/sponsors.png">
  </div>
</div>
