---
layout: containerless
title: Home
---

<div class="events">
  <div class="container">
  {% for row in site.data.events-layout %}
    <div class="event-row">
    {% for event in row.row %}
      <div class="event
        {% if event.width == '2x' %}featured-1{% endif %}
        {% if event.width == 'fill' %}featured-max{% endif %}
        ">
        <img src="images/events/{{ event.id }}.png">
        <div class="details">
          {% assign found_event = false %}
          {% for details in site.events %}{% if details.relative_path contains event.id %}
            {% assign found_event = true %}
            <h3>{{ details.title }}</h3>
            <div class="subtitle">{{ details.subtitle }}</div>
            {% if details.location %}
            <div class="subtitle">{{ details.location }}</div>
            {% endif %}
          {% endif %}{% endfor %}
          {% if found_event == false %}
            <h3>Event details missing</h3>
            <div class="subtitle">Try creating a file <code>_events/{{ event.id }}.md</code></div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
    </div>
  {% endfor %}
  </div>
  <div class="clear"></div>
</div>

<div class="filler">
  <div class="container">
    <img src="images/filler-background.jpg">
    <div class="text">
      <p>Welcome to AnimeUNSW!</p>
      <p>We're a society for fans of anime and all things related,<span>like manga, drawing, games, cosplay and more.</span></p>
    </div>
  </div>
</div>

<a class="twitter-timeline" href="https://twitter.com/AnimeUNSW" data-widget-id="512132356170190848">Tweets by @AnimeUNSW</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div class="sponsors">
  <div class="container">
    Proudly sponsored by:
    <img src="images/sponsors.png">
  </div>
</div>
